<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Application</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <section class="book-section">
        <div class="container d-flex justify-content-center">
            <div class="card book-card">
                <div class="card-header  p-3">
                    <h4 class="mb-0 text-center">BookHub</h4>
                </div>
                <div class="card-body">
                    <form action="/add-book" method="post">
                        <div class="row mb-3">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label for="name" class="form-label">Book Name :</label>
                                <input type="text" class="form-control" id="name" name="name"  placeholder="e.g. The Alchemist">
                            </div>
                            <div class="col-md-6">
                                <label for="author" class="form-label">Author Name :</label>
                                <input type="text" class="form-control" id="author" name="author" placeholder="e.g. Paulo Coelho">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label for="price" class="form-label">Price :</label>
                                <input type="number" class="form-control" id="price" name="price" placeholder="e.g. 499">
                            </div>
                            <div class="col-md-6">
                                <label for="date" class="form-label">Published Date :</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="genre" class="form-label">Genre :</label>
                            <select class="form-select" id="genre" name="genre">
                                <option selected>Select Genre</option>
                                <option value="Classic">Classic</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Horror">Horror</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Romance">Romance</option>
                                <option value="Thriller">Thriller</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label d-block">Book Format :</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="format" value="Hardcover"
                                    id="hardcover">
                                <label class="form-check-label" for="hardcover">Hardcover</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="format" value="Paperback"
                                    id="paperback">
                                <label class="form-check-label" for="paperback">Paperback</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="format" value="eBook" id="ebook">
                                <label class="form-check-label" for="ebook">eBook</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="format" value="Audiobook" id="audio">
                                <label class="form-check-label" for="audio">Audiobook</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label d-block">Book Features :</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="features" value="Bestseller"
                                    id="bestseller">
                                <label class="form-check-label" for="bestseller">Bestseller</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="features" value="New Arrival"
                                    id="newarrival">
                                <label class="form-check-label" for="newarrival">New Arrival</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="features" value="Award Winning"
                                    id="award">
                                <label class="form-check-label" for="award">Award Winning</label>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-one w-50">Add Book</button>
                            <a href="/" class="btn btn-two w-50">View Book List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>